<div
  class="reader"
  [style.background-color]="currentTheme.bg ?? ''"
>
  <app-reader-header
    [currentChapterName]="currentChapterName"
    [currentTheme]="currentTheme"
    (showChapters)="showChapters = true"
    (showControls)="showControls = true"
  ></app-reader-header>
  <div class="reader-content">
    <div id="foliate-container"></div>
  </div>

  @if (showChapters) {
    <app-chapters-dialog
      [bookCoverUrl]="bookCoverUrl"
      [bookTitle]="bookTitle"
      [bookAuthors]="bookAuthors"
      [chapters]="chapters"
      (close)="showChapters = false"
      (chapterClick)="onChapterClick($event)"
    ></app-chapters-dialog>
  }

  @if (showControls) {
    <app-settings-dialog
      [themes]="themes"
      [fonts]="fonts"
      [isDarkMode]="isDarkMode"
      [fontFamily]="fontFamily"
      [fontSize]="fontSize"
      [lineHeight]="lineHeight"
      [maxColumnCount]="maxColumnCount"
      [gap]="gap"
      [justify]="justify"
      [hyphenate]="hyphenate"
      [currentTheme]="currentTheme"
      [maxInlineSize]="maxInlineSize"
      [maxBlockSize]="maxBlockSize"
      (close)="showControls = false"
      (prevPage)="prevPage()"
      (nextPage)="nextPage()"
      (onFontFamilyChange)="onFontFamilyChange($event)"
      (increaseFontSize)="increaseFontSize()"
      (decreaseFontSize)="decreaseFontSize()"
      (increaseLineHeight)="increaseLineHeight()"
      (decreaseLineHeight)="decreaseLineHeight()"
      (increaseMaxColumnCount)="increaseMaxColumnCount()"
      (decreaseMaxColumnCount)="decreaseMaxColumnCount()"
      (setGap)="setGap($event)"
      (toggleJustify)="toggleJustify()"
      (toggleHyphenate)="toggleHyphenate()"
      (toggleLightDark)="toggleLightDark()"
      (onThemeChange)="onThemeChange($event)"
      (increaseMaxInlineSize)="increaseMaxInlineSize()"
      (decreaseMaxInlineSize)="decreaseMaxInlineSize()"
      (increaseMaxBlockSize)="increaseMaxBlockSize()"
      (decreaseMaxBlockSize)="decreaseMaxBlockSize()"
    ></app-settings-dialog>
  }
</div>
